main {
  display: flex;
  justify-content: space-between;
}

main > article {
  width: 79.5%;
}

main > aside {
  padding-top: var(--pico-spacing);
  width: 18%;
}

main > aside > section.content-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: var(--pico-spacing);
  z-index: 2;
}

li > ul {
  padding-left: var(--pico-spacing);
}
